<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>REAL PLAYERS CORP - REGEDIT </title> <!-- Titulo do site>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Techie - v2.2.1
  * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="/">REAL PLAYERS</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">Demonstração</a></li>
              <li><a href="#features">Interface</a></li>
              <li><a href="#pricing">Planos</a></li>
              <li><a href="#software">Software</a></li>
              <li><a href="/user/logout">Logout</a></li>
                        
            </ul> 
          </nav><!-- .nav-menu -->
          
          <a href="#pricing" class="get-started-btn scrollto">COMPRAR</a>
          
          <!-- <div id="mydiv" class="dropdown transparentbar" style="z-index:4; margin-left: 150px">
            <button class="btn btn-default dropdown-toggle" type="button" id="mybyn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="color: aliceblue;">
              Meu perfil
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
             <li><a href="#">Email: </a></li>
             <li><a href="#">Plano:</a></li>
             <li><a href="#">Time: </a></li>
           </ul>  -->
          
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-">
          <h1>A REGEDIT QUE REVOLUCIONOU O FREE FIRE!</h1>
          <h2>O verdadeiro conceito de Regedit! Nosso sistema atual é destaque entre o meio competitivo, conta com as melhores Regedits, e o Melhor Aim Assist, garantindo seu desempenho extraordinário!</h2>
          <div><a href="#about" class="btn-get-started scrollto">SAIBA MAIS</a></div>
        </div>
        <div class="col-xl-5 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="/assets/img/logo_2.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
		    
			<iframe width="560" height="315" src="https://www.youtube.com/embed/tKKin5wmuFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- <img src="assets/img/about.jpg" class="img-fluid" alt=""> -->
			
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Review Regedit/Aim Assist</h3>
            <p class="font-italic">
              Diferente de qualquer outra Regedit, nossa regedit possuí configurações únicas,
			  e bem elaboradas, sendo totalmente efetivas!
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Instalação  gratuita após a compra!</li>
              <li><i class="icofont-check-circled"></i> Atualizações e novidades frequentes.</li>
              <li><i class="icofont-check-circled"></i> Suporte profissional disponível, e dedicado ao cliente!</li>
            </ul>
            <a href="#features" class="read-more">Interface <i class="icofont-long-arrow-right"></i></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>VISÃO GERAL</h2>
          <p>A Real Players, pode te oferecer a melhorar experiência utilizando nossos sistemas de Regedits, AIM ASSIST,AWM ASSIST,
		      tudo isso integrado em um único software, que você terá acesso após adquirir, o plano desejado!</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Aim Assist</h4>
              <p>O Aim Assist possuí uma precisão excelente, auxiliando  a mira fixar na cabeça do oponente, aumentando considerávelmente sua taxa de HEADSHOT</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Regedit</h4>
              <p>Cada Regedit da lista, há uma configuração específica, que possibilita um alto desempenho durante a troca de tiro,
			  você pode observar isso em nossas Game Plays oficiais!</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-images"></i>
              <h4>Crosshair</h4>
              <p>Exibe uma mira personalizada na tela, mesmo estando portando sniper! É interessante ser usada em conjunto com o AWM ASISST!</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-shield"></i>
              <h4>Engenharia</h4>
              <p>Diferente de outras Regedits, que possuem até "20 Regedits diferentes", a Real Players possui somente as melhores Regedits selecionadas, são realmente funcionais, bem prático e funcional!</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/features.png" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->
	
    <!-- ======= Pricing Section ======= --> <!-- Logo abaixo estão os planos, você pode editar por aqui os links de pagamento -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>PLANOS</h2>
          <p>Adquira já o seu, e tenha acesso exclusivo ao Real Players, liberação imediata após o pagamento!</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>VIPER</h3>
			  
			  <img src="/assets/img/planos/viper.png" class="img-fluid" alt="">
			  
              <div class="btn-wrap">
                <a href="https://picpay.me/diegomonteiro157" class="btn-buy">ADQUIRIR</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <h3>GOLD</h3>
			  
			  <img src="/assets/img/planos/gold.png" class="img-fluid" alt="">
			  
              <div class="btn-wrap">
                <a href="https://picpay.me/diegomonteiro157" class="btn-buy">ADQUIRIR</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box featured">
			<span class="advanced">Destaque</span>
              <h3>"DEUSES"</h3>
			  
			  <img src="/assets/img/planos/deuses.png" class="img-fluid" alt="">
			  
              <div class="btn-wrap">
                <a href="https://picpay.me/diegomonteiro157" class="btn-buy">ADQUIRIR</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <!--<span class="advanced">Advanced</span>-->
              <h3>PREDATOR</h3>
			  
			  <img src="/assets/img/planos/predator.png" class="img-fluid" alt="">
			  
              <div class="btn-wrap">
                <a href="https://picpay.me/diegomonteiro157" class="btn-buy">ADQUIRIR</a>
              </div>
            </div>
          </div>
	  </div>
		  
	    <div class="section-title">
          <h2>OUTROS</h2>
        </div>
		
		<div class="row">
		
		  <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="box">
              <h3>AIM ASSIST</h3>
			  
			  <img src="/assets/img/planos/SUB/AIM ASSIST.png" class="img-fluid" alt="">
			  
              <div class="btn-wrap">
                <a href="https://picpay.me/diegomonteiro157" class="btn-buy">ADQUIRIR</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <h3>AIM LOCK</h3>
			  
			  <img src="/assets/img/planos/SUB/AIM LOCK.png" class="img-fluid" alt="">
			  
              <div class="btn-wrap">
                <a href="https://picpay.me/diegomonteiro157" class="btn-buy">ADQUIRIR</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="700">
            <div class="box featured">
			<span class="advanced">Destaque</span>
              <h3>KING REGEDIT</h3>
			  
			  <img src="/assets/img/planos/SUB/AJUSTAVEL.png" class="img-fluid" alt="">
			  
              <div class="btn-wrap">
                <a href="https://picpay.me/diegomonteiro157" class="btn-buy">ADQUIRIR</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="800">
            <div class="box">
              <!--<span class="advanced">Advanced</span>-->
              <h3>AWM ASSIST</h3>
			  
			  <img src="/assets/img/planos/SUB/AWM ASSIST.png" class="img-fluid" alt="">
			  
              <div class="btn-wrap">
                <a href="https://picpay.me/diegomonteiro157" class="btn-buy">ADQUIRIR</a>
              </div>
            </div>
          </div>

       </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>PERGUNTAS FREQUENTES</h2><!-- Aqui você pode editar como desejar as perguntas mais frequentes, coloquei somente esses exemplos para ter como base, OK?sim-->
          <p>Qualquer dúvida, estamos sempre à disposição para melhor atendê-los!</p>
        </div>

        <div class="faq-list">
          <ul>
              
            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">QUAL GARANTIA DE RECEBIMENTO? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
				    Observando nosso canal oficial, você pode verificar a confiabilidade, e qualidade dos nosso serviços! Inclusive, é interessante observar nossos videos, e também a descrição, há diversas
					avaliações positivas!
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">O REAL PLAYERS É SEGURO?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
				   Sim, nosso sistema é livre de vírus, e conta com configurações seguras, além de não deixar rastros em seu computador! 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">COMO OBTER, REALIZAR O PAGAMENTO? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
				   Logo acima estarão disponíveis nossos planos, selecione o plano desejado, e você será redirecionado, e informado, sobre as formas de pagamento!
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">INSTALAÇÃO E SUPORTE?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
				   A instalação é simples, e você terá total suporte garantido, para realizar a instalação, e solucionar qualquer dúvida!
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>REAL PLAYERS OFICIAL</h3>
            <p>
            
			  <p> QUER SER DESTAQUE? <br> 
			  VOCÊ ESTÁ NO LUGAR CERTO.<br>
			  SE TORNE UMA LENDA NO FREE FIRE!<br>

            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>CONTATO</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.youtube.com/channel/UCv9ksavUbeG60dkgDibaCJw">Youtube</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://discord.com/invite/4KWSDKYFYj">Discord</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/realplayersrp">Facebook</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="wa.me/5527997374570">Whatsapp</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nosso Projetos</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="Link aqui">Regedits</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Link aqui">Aim Lock</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Link aqui">Regedit Mobile</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.youtube.com/watch?v=-rjr3KdJqa0">AWP Assist</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Link Aqui">King Ajustável</a></li>
            </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
		  
		   
		  <!--
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form> -->
			
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; Copyright <strong><span>RP TEAM</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/techie-free-skin-bootstrap-3/ -->
            Designed by <a href="https://realplayers.tech/">Real Players</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>

<style>

</style>